name: Docker nightly

on:
  push:
    branches:
      - master
    tags-ignore:
      - '*'
  workflow_dispatch:

# set docker tag for all steps
env:
  DOCKERTAG: nightly

jobs:
  docker_build:
    runs-on: ${{ matrix.target.runs }}
    permissions:
      packages: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os:
          - rocky
          - debian
        target:
          - runs: ubuntu-24.04
            platform: amd64
          - runs: ubuntu-24.04-arm
            platform: arm64
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.PTA }}

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          push: true
          file: Dockerfile.omd-labs-${{ matrix.os }}
          build-args: |
            OMD_VERSION=${{ github.ref }}
            INSTALL_COMMON_RETRIES=3
          tags: |
            consol/omd-labs-${{ matrix.os }}:${{ env.DOCKERTAG }}-${{ matrix.target.platform }}
            ghcr.io/consol/omd-labs-docker/omd-labs-${{ matrix.os }}:${{ env.DOCKERTAG }}-${{ matrix.target.platform }}
          platforms: linux/${{ matrix.target.platform }}


  manifest:
    runs-on: ubuntu-24.04
    needs: docker_build
    permissions:
      packages: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        os:
          - rocky
          - debian
        registry:
          - name: dockerhub
            image: consol/omd-labs
            login:
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_PASSWORD }}
          - name: github
            image: ghcr.io/consol/omd-labs-docker/omd-labs
            login:
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ secrets.REGISTRY_USER }}
                password: ${{ secrets.PTA }}
    steps:
      - uses: actions/checkout@v6

      - name: Log in to registry
        uses: ${{ matrix.registry.login.uses }}
        with: ${{ matrix.registry.login.with }}

      - name: Push manifest
        run: |
          docker buildx imagetools create \
            -t ${{ matrix.registry.image }}-${{ matrix.os }}:${{ env.DOCKERTAG }} \
               ${{ matrix.registry.image }}-${{ matrix.os }}:${{ env.DOCKERTAG }}-amd64 \
               ${{ matrix.registry.image }}-${{ matrix.os }}:${{ env.DOCKERTAG }}-arm64
